@keyframes fadeLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#headline-section .section-title {
    opacity: 0;
    transform: translateX(40px);
    animation: fadeLeft 1s ease-out forwards;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

#headline-section .section-content {
    opacity: 0;
    transform: translateX(40px);
    animation: fadeLeft 1s ease-out forwards;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#headline-section {
    position: relative;
    background-image: url('../../assets/img/index/headline2-section-bg.png');
    background-size: cover;
    background-position: center;
    color: var(--text-light);
    z-index: 1;
    overflow: hidden;

    div div div .section-title {
        background: linear-gradient(to right, white, white, var(--tertiary-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text; /* For Firefox */
        color: transparent;
        margin-bottom: 30px;
    }
}

#headline-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Adjust the opacity here */
    z-index: -1;
}


#headline-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity here */
    z-index: -1;
}


#aboutus-section {
    background: linear-gradient(
            to bottom,
            var(--medium-dark-background),
            var(--medium-light-background),
            var(--medium-dark-background)
    );
    .container{
        padding: 0;
        div div img{
            max-width: 100%;
        }

        .section-title{
            color: var(--text-light);
        }
    }
}




#second-section {
    padding: 0;
    background: transparent;
    .container{
        border-radius: 20px;


        div div img{
            max-width: 100%;
        }

        .section-title{
            color: var(--text-dark);
        }
    }
}
