
#second-section {
    color: var(--text-light);
    padding: 90px 0 90px 0;
    background-color: var(--accent-cream);
    .container{
    padding: 60px 10px;
        .section-title{
            color: var(--text-light);
        }

        div div form div label{
            color: var(--text-dark);
            text-align: left !important;
        }
    }
}
